<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="login">
        <h1>News Headline Suggestion</h1>
        <p>This app suggests the topic that closely matches the article/news headline.</p>
        <br>
        <form action="{{ url_for('predict') }}" method="post">
            <input type="text" size="100%" name="data" required="required" placeholder="Enter headline...">
            <br>
            <button type="submit" class="btn button-primary btn-block btn-large">Predict</button><br>
        </form>
        <h3>{{ prediction }}</h3>
    </div>
</body>

</html>
